body {background-color: black;}
.mainimage {
  box-shadow: 0px 0px 10px #00c0ff;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
}
thetext 
{
  margin-left: 50%;
  margin-right: 50%;
  font-size: 100px;
  color: white;
  text-shadow: 0 0 100px darkturquoise, 0 0 25px cyan;
}
