@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
body 
{
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
.exitiumtext
{
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  color: white;
  animation: textglow 5s ease-in-out infinite alternate;
}
.thetext
{
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: white;
  animation: textglow 5s ease-in-out infinite alternate;
}
.contacttag {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decorations: none;
  font-size: 20px;
  color: white;
  animation: textglow 2s ease-in-out infinite alternate;
}
.contactme:link {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decorations: none;
  font-size: 20px;
  color: white;
  animation: textglow 2s ease-in-out infinite alternate;
}
.contactme:visited {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decorations: none;
  font-size: 20px;
  color: white;
  animation: textglow 2s ease-in-out infinite alternate;
}
.contactme:hover {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decorations: none;
  font-size: 20px;
  color: navy;
  animation: textglow 2s ease-in-out infinite alternate;
}
.contactme:active {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decorations: none;
  font-size: 20px;
  color: navy;
  animation: textglow 2s ease-in-out infinite alternate;
}
@keyframes exitiumglow {
  from {
    text-shadow: 0 0 10px 15px #00c0ff;
  }
  to {
    text-shadow: 0 0 10px 5px #00c0ff;
  }
}
@keyframes textglow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #00c0ff, 0 0 40px #00c0ff;
  }
  to {   
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #00c0ff, 0 0 20px #00c0ff;
  }
}
