@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
body {background-color: black;}
.exitiumthecatclass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: glow 3s infinite alternate;
}
.thetext
{
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  color: white;
  animation: textglow 5s infinite alternate;
}
.contactme
{
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decorations: none;
  font-size: 20px;
  color: white;
  animation: textglow 5s infinite alternate;
}
.contactme:link {
  color: red;
    text-decoration: none;
}
.contactme:visited {
  color: green;
    text-decoration: none;
}
.contactme:hover {
  color: hotpink;
    text-decoration: none;
}
.contactme:active {
  color: blue;
    text-decoration: none;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 5px #00c0ff;
  }
  to {
    box-shadow: 0 0 10px 15px #00c0ff;
  }
}
@keyframes textglow {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #00c0ff, 0 0 20px #00c0ff, 0 0 25px #00c0ff, 0 0 30px #00c0ff, 0 0 35px #00c0ff;
  }
  to {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #00c0ff, 0 0 40px #00c0ff, 0 0 50px #00c0ff, 0 0 60px #00c0ff, 0 0 70px #00c0ff;
  }
}
